/*
    Document   : control Style
*/


#pane {
    -fx-background-image: url("hawaiian_shirt_background4.jpeg");
    -fx-background-size: 100%;   
    -fx-background-repeat: repeat;
    -fx-background-width: 100%;
    -fx-background-height: 100%;
    -fx-background-position: center center;
}

.menu-bar { 
    -fx-background-color: rgba(41, 41, 41, 0.7); 
}

.menu:focused .label {
    -fx-background-color: derive(#292929, 10%);
}


.menu-item .graphic-container {
    -fx-background-color: derive(#292929, 10%);
}


.menu .label { 
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 13px;
    -fx-text-fill: #fdbe3b;
}

.menu:selected {
    -fx-background-color: derive(#292929, 10%);
}

.menu:focused {
    -fx-background-color: derive(#292929, 10%);
}

.menu-item:focused {
    -fx-background-color: black;
}

.menu:showing .label { 
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 13px;
}
 
.body {
  width: 100%;
}

#glass {
    -fx-background-color: rgba(255, 255, 255, 0.9); 
}

.button {
    -fx-background-color: derive(#292929, 10%);
    -fx-background-insets: 0,2;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 13px;
    -fx-text-fill: #fdbe3b;
}

/*

.text-field {
    -fx-background-color: #fdbe3b , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #fdbe3b , #fdbe3b , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

*/


#user-profile-button {
    -fx-background-image: url('blank_profile_page.jpeg');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: black;
    -fx-background-insets: 0,2;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
}

#facebook-button {
    -fx-background-color: #3b5998;
    -fx-background-insets: 0,2;
    -fx-background-radius: 9,8,5,4;
    -fx-font-weight: bold;
}

#facebook-label {
    -fx-font-family: Lucida;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}

#facebook-button:hover {
    -fx-background-color: #2F4779;
    -fx-background-insets: 0,2;
    -fx-background-radius: 9,8,5,4;
    -fx-font-weight: bold;
    -fx-font-family: Lucida;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
}


.combo-box-base {
    -fx-background-color: derive(#292929, 10%);
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 8 4 8 4;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 13px;
    -fx-text-fill: #fdbe3b;
}

.context-menu {
    -fx-background-color: rgba(41, 41, 41, 0.9);
}


.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    -fx-background-color: white;
    -fx-font-size: 13px;
    -fx-text-fill: #fdbe3b;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: derive(#292929, 10%);
    -fx-font-size: 13px;
    -fx-text-fill: #fdbe3b;
}


.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: derive(#292929, 10%);
    -fx-font-size: 13px;
    -fx-text-fill: #fdbe3b;
}

.combo-box {
    -fx-font-size: 13px;
    -fx-text-fill: #fdbe3b;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: derive(#292929, 10%);
    -fx-font-size: 13px;
    -fx-text-fill: #fdbe3b;
}


.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}

.slider .thumb{
    -fx-background-color: #BABABA;
    -fx-border-radius: 10;
    -fx-border-color: #BABABA;
}

.slider .track{
    -fx-background-color: #9E9E9E;
}

.buttontext {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 20px;
    -fx-text-fill: #fdbe3b;
}

.label {
    -fx-text-fill: #fdbe3b;
    -fx-font-size: 40px;
    -font-weight: bold; 
    -fx-font-family: "Segoe UI Semibold";
}

#combobox-label {
    -fx-text-fill: #fdbe3b;
    -fx-font-size: 10px;
    -fx-font-family: "Segoe UI Semibold"; 
}

#heading {
    -fx-text-fill: black;
    -fx-font-size: 50px;
    -font-weight: bold; 
    -fx-font-family: "Segoe UI Semibold";
}


